

.Body{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-20%,-50%);
}

.Table{
  margin: 20px;
}

.Table td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.Table th{
  border: 1px solid black;
}