

.Body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.Table{
  border: 1px solid var(--bg-color);
  width: 900px;
}

.Table th {
  text-align: center;
  padding: 15px;
}


.Table td {
  border: 1px solid var(--bg-color);
  text-align: center;
  padding: 15px;
}

.Table input, select, textarea {
  border: 1px solid var(--bg-color);
}

/* 텍스트 에어리어 */
.Table textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: var(--font-color);
}
.Table textarea{
  height: 15vh;
}



/* TD 상세 조정 */

.teamName {
  position: relative;
  bottom: 30px;
}

/* 버튼 */

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.backBtn {
  padding: 5px 20px;
  margin-bottom: 15px;
}