

.Body{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-20%,-50%);
}

.Table{
  border: 1px solid black;
  width: 900px;
}

.Table * {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}