
.Body{
  position: absolute;
  left: 20%;
  width: 80%;
}

.WhiteBorder{
  border-top: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}

.BlackBorder{
  border-top: 1px solid var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}

.Body div {

  padding: 10% 0 10% 0;
}
/* 게시판 */

.Table{
  text-align: center;
}

.Table:first-child{
  margin-bottom: 40px;
}

.Table th{
  font-weight: bolder;
  border: 1px solid black;
}

.Table td{
  border: 1px solid #444;
}

.contBoxP {
  cursor: pointer;
}
.contBoxP:hover {
  color: var(--font-downColor);
}

