

.Body{
  position: absolute;
  left: 20%;
  width: 80%;
}

.WhiteBorder{
  border-top: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}

.BlackBorder{
  border-top: 1px solid var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}

.Body div:first-child{
  padding: 8% 0 8% 0;
}
.Body div {
  padding: 2% 0 2% 0;
}
.Body div:last-child{
  padding: 2% 0 2% 0;
}
/* 게시판 */

.musicContent, .artContent{
  display: flex;
  flex-direction: column;
}

.Table{
  text-align: center;
}

.Table:first-child{
  margin-bottom: 40px;
}

.Table th{
  font-weight: bolder;
  border: 1px solid var(--font-downColor);
  padding: 10px;
}

.Table td{
  border: 1px solid var(--font-downColor);
  padding: 10px
}

.contBoxP {
  cursor: pointer;
}
.contBoxP:hover {
  color: var(--font-downColor);
}

/* 페이징 */


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--font-downColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: var(--font-downColor);
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: var(--font-downColor);
}

.page-selection {
  width: 48px;
  height: 30px;
  color: var(--bg-color);
}