
.Body{
  display: flex;
  flex-direction: column;
}

.Body input {
  border: 1px solid var(--bg-color);
}

.Title{
  font-size: var(--font-l);
  margin: 20px;
  text-align: center;
}

.Id,.Pw,.Email,.PhoneNumber,.btn{
  margin: 10px;
}

.Id input{
  margin-right: 15px;
  width: 100px;
}

.Email input{
  width: 100px;
}

.PhoneNumber input {
  width: 210px;
}

.PhoneNumber input::-webkit-outer-spin-button,
.PhoneNumber input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

/* 버튼 */

.btn {
  display: flex;
  justify-content: center;
}

.joinBtn {
  padding: 5px 40px;
}

.checkBtn {
  padding: 0 20px;
}