:root{
  /* 색상 */
  --btn-Color:#F2C94C;
  --btn-pointColor:#f2984ad7;
  --bg-Color:#FFFFFF;
  --footer-bgColor:#1d0707;
  --footer-Color:#beadad;
  /* 폰트사이즈 */
  --font-xs:12px;
  --font-s:15px;
  --font-m:19px;
  --font-l:22px;
  --font-xl:32px;
}


.Body{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-20%,-50%);
  border: 1px solid black;
  padding: 20px;
}


.Title{
  font-size: var(--font-l);
  margin: 20px;
  text-align: center;
}

.Id,.Pw,.Email,.PhoneNumber,.btn{
  margin: 10px;
}

.Id input{
  margin-right: 10px;
  width: 100px;
}

.Email input{
  width: 100px;
}

.PhoneNumber input {
  width: 210px;
}

.PhoneNumber input::-webkit-outer-spin-button,
.PhoneNumber input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}