

/* Layout */



.Layout{
  /* min-width: 100vw; */
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  transition: all ease 2s;
}
.Black{
  background-color: var(--bg-color);
  color: var(--font-color);
}

.White{
  background-color: var(--font-color);
  color: var(--bg-color);
}


/* Header */


.Header{
  margin-top: 20px;
  padding: 20px;
  position: relative;
}


.Hh1{
  margin: 3% 5% 0 2%;
  text-align: left;
  font-size: var(--font-xl);
} 


.Link{
  color: inherit;
  text-decoration: inherit;
}
.Link:hover{
  color: var(--font-downColor);
}



/* section */
.section {
  position: relative;
}


/* Nav */

.Nav{
  position: absolute;
  left: 2%;
  font-size: var(--font-m);
}


.NavUl li{
  margin-bottom: 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.NavUl li:last-child{
  margin-bottom: 0;
}

.NavUl li:hover{
  color: var(--font-downColor);
}

.loginBtn{
  position: absolute;
  bottom: 0;
  cursor: pointer;
  background-color: inherit;
  color: var(--font-downColor);
  border: none;
}
.loginBtn:hover{
  color: var(--font-color);
}

.welcome {
  position: absolute;
  right: 1%;
  top: 2%;
}

/* Footer */

.Footer{
  padding: 15px;
  margin-top: auto;
  color: var(--font-downColor);
}

