:root{
  /* 색상 */
  --font-color:#F2F2F2;
  --font-downColor:#565656;
  --bg-color:#000000;

  /* 폰트사이즈 */
  --font-xs:12px;
  --font-s:15px;
  --font-m:19px;
  --font-l:22px;
  --font-xl:32px;
}

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





/* Layout */

.Layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Happiness-Sans-Title';
}



/* Header */


.Header{
  margin-top: 20px;
  padding: 20px;
}

.Header .inner{
  position: relative;
}

.Hh1{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  font-size: var(--font-xl);
} 



.Link{
  color: inherit;
  text-decoration: inherit;
}
.Link:hover{
  color: var(--font-downColor);
}



/* Nav */

.Nav{
  position: absolute;
  left: 2%;
  font-size: var(--font-m);
}


.NavUl li{
  margin-bottom: 10px;
  border-radius: 0 10px 0 10px;
  padding: 15px 20px;
  cursor: pointer;
}

.NavUl li:last-child{
  margin-bottom: 0;
}

.NavUl li:hover{
  color: var(--font-downColor);
}

.loginBtn{
  position: absolute;
  cursor: pointer;
  background-color: inherit;
  color: var(--font-downColor);
}
.loginBtn:hover{
  color: var(--font-color);
}


/* Footer */

.Footer{
  padding: 15px;
  margin-top: auto;
  color: var(--font-downColor);
}

