
.Body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  border: 1px solid black;
  padding: 50px;
}

.title{
  font-size: var(--font-l);
  text-align: center;
  margin-bottom: 30px;
}

.Id{
  margin-bottom: 10px;
}
.Id input {
  margin-left: 15px;
}

.Pw{
  margin-bottom: 15px;
}

.Pw input{
  margin-left: 5px;
}

.btn{
  margin-bottom: 5px;

}

.btn {
  display: flex;
  justify-content: space-evenly;
}

