:root{
  /* 색상 */
  --btn-Color:#F2C94C;
  --btn-pointColor:#f2984ad7;
  --bg-Color:#FFFFFF;
  --footer-bgColor:#1d0707;
  --footer-Color:#beadad;
  /* 폰트사이즈 */
  --font-xs:12px;
  --font-s:15px;
  --font-m:19px;
  --font-l:22px;
  --font-xl:32px;
}


.Body{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-20%,-50%);
}

.Table{
  border: 1px solid black;
  width: 900px;
}

.Table td {
  border: 1px solid black;
  text-align: center;
  /* padding: 15px; */
}